.filtration-wrapper{
max-width: 1190px;
display: flex;
padding-top: 50px;}

.filtration-input{
    min-width: 700px;
    margin: 0 20px 0 20px;
}

.no-items-text{
    color: #2C1A4D ;
    padding-top: 30px;
}